<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!--Modify paths to reflect your Open Discover install-->
    <add key="JobId" value="1"/>
    <add key="InstallFolderPath" value="F:/OpenDiscover"/>
    <add key="OutputRootFolderPath" value="F:/Output"/>
    <add key="InputDataFolder" value="F:\DataSets\Various\FileForensics\DigitalCorpora\Govdocs1\Office+PDFs\Office"/>
    <!--Make empty string if no password list for data set-->
    <add key="PasswordListFilePath" value=""/>
    <!--<add key="PasswordListFilePath" value="F:/OpenDiscover/TestData/test_data_passwords.txt"/>-->
    <!--Make empty string if no exclude/ignore file formats for data set-->
    <add key="ExcludeIgnoreFilePath" value=""/>
    <!--<add key="ExcludeIgnoreFilePath" value="F:/OpenDiscover/TestData/ExcludeIgnoreFormatsExample.txt"/>-->
  </appSettings>
</configuration>
